.upload-frame form{  height: 300px;  padding: 25px;  }

/* header */
.file-frame{  margin-top: 80px;  padding: 0 25px;  margin-bottom: 50px;}
.file-table-head{
    border-top: 1px solid #f2f6fd;
    border-bottom: 1px solid #f2f6fd;
}
.file-table-head li{
    float: left;
    font-size: 15px;
    padding: 5px;
    line-height: 35px;
}

.file-table-head ul{
    padding: 0;
    margin: 0;
    height: 45px;
    color: #888;
}
li input{  width: 15px;  height: 15px;  }
.file-table-head li:hover{  background-color: snow;  }

.file-table-head-fname{  width: 60%;  }
.file-table-head-fsize{  width: 16%;  }
.file-table-head-fdate{  width: 24%;  }
file-table-head>ul>li>div{  padding: 5px;  }

/* body */
.file-table-body-item{  height: 50px;  border-bottom: 1px solid #f2f6fd;  }
.file-table-body-item div:hover{  background-color: snow;  }
.file-table-body-item img{  width: 22px;  height: 22px;  margin-right: 6px; }
.file-table-body-item input{  width: 15px;  height: 15px;  }

.item-fname>img{
    margin-top: 5px;
}
.item-fname {
    width: 60%;
    float: left;
    padding: 5px;
    font-size:18px;
    height: 100%;
}

.item-fsize{
    width: 16%;
    float: left;
    padding: 5px;
    font-size:18px;
    height: 100%;
}
.item-fdate{
    width: 24%;
    float: left;
    padding: 5px;
    font-size:15px;
    color: #888;
    height: 100%;
}

.file-name{  font-weight: 400;  }
.file-table-body-item :hover{  cursor: pointer;  font-size: 19px;  }

.file-table-head-fname img{
    width: 22px;
    height: 22px;
}
.fname-op-box{  float: right;  height: 100%;}
.fname-op-box span img:hover{
    width: 24px;
    width: 24px;
}
.fname-op-box img:hover{
    opacity: 0.8;
}
.fname-op-box img{
    vertical-align: middle;
    margin: 5px;
}
#add-folder:hover{
    cursor: pointer;
}

#add-folder-item input{
    width: 200px;
    height: 30px;
    vertical-align: middle;
    border: 1px solid rgba(58,140,255,.3);
    background: #fff;
    border-radius: 2px;
    margin: 3px 0;
    padding:0 0 0 5px;
    margin-right: 10px;
}

.modal-title{
    font-size: 20px;
    font-weight: 700;
}
.modal-set-item{
    padding: 8px 0;
    margin-bottom: 5px;
}

.modal-set-item:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

.modal-set-img{
    float: left;
    margin-right: 20px;
}
.modal-set-img img{

    width: 60px;
    height: 60px;
    padding: 1px;
    border: 1px solid #d5d5d5;
}

.modal-set-info{
    float: left;
}

.modal-set-name{
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
}

.modal-set-description{
    color: grey;
}

.modal-body{
    max-height: 500px;
    overflow-y: scroll;
}