.login{
    margin-bottom: 0;
}

.register{
    margin-bottom: 0;
    padding-top: 30px;
    border-top: 1px solid #f0f0f0;
}

.register a:hover{
    color: darkgray;
}
.register a{
    color: black;
}

.bottom-line{
    border-bottom: 1px solid;
}
